#treeView table {
    border-spacing: 0;
    border-collapse: collapse;
}

#treeView td, #treeView th {
    text-align: center;
    vertical-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 0;
    padding: 0;
    white-space:nowrap;
}

#treeView th {
    font-weight: bold;
}

#treeView td.novalue {
    background-color: #EEEEEE;
}

.note {
    margin-top: 2ex;
    margin-bottom: 2ex;
}

button.inlineAdd, button.inlineRemove {
    font-size: xx-small;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0ex;
    padding-right: 0ex;
    visibility: hidden;
}

button.inlineAdd {
    margin-right: 0;
    margin-left: 0;
}

button.inlineRemove {
    margin-left: 0;
    margin-right: 0;
}